{% extends 'main.html' %}
{% load static %}

{% block content %}

<!-- Section 1 :  Operational Metrics Cards-->

<div class="container mt-4">
    <div class="d-flex">
        <h3>Operational Metrics - Active Tasks</h3>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-sm-6 col-md">
            <div class="card shadow bg-white" style="border-left: 4px solid #FFE169;">
                <div class="card-body">
                    <div class="text-uppercase text-xs text-muted mb-1" style="font-size: .9rem;">
                        <p>Total Requests</p>
                    </div>
                    <div class="text-dark fw-bold h5 text-end pe-3">
                        <h2>{{active_work_requests_count}}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md">
            <div class="card shadow bg-white" style="border-left: 4px solid #edc531;">
                <div class="card-body">
                    <div class="text-uppercase text-xs text-muted mb-1" style="font-size: .9rem;">
                        <p>Total Tasks</p>
                    </div>
                    <div class="text-dark fw-bold h5 text-end pe-3">
                        <h2>{{active_tasks_count}}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md">
            <div class="card shadow bg-white" style="border-left: 4px solid #c9a227;">
                <div class="card-body">
                    <div class="text-uppercase text-xs text-muted mb-1" style="font-size: .9rem;">
                        <p>Machining Tasks</p>
                    </div>
                    <div class="text-dark fw-bold h5 text-end pe-3">
                        <h2>{{active_machining_tasks_count}}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md">
            <div class="card shadow bg-white" style="border-left: 4px solid #a47e1b;">
                <div class="card-body">
                    <div class="text-uppercase text-xs text-muted mb-1" style="font-size: .9rem;">
                        <p>Non-Machining Tasks</p>
                    </div>
                    <div class="text-dark fw-bold h5 text-end pe-3">
                        <h2>{{active_non_machining_tasks_count}}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md">
            <div class="card shadow bg-white" style="border-left: 4px solid #836310;">
                <div class="card-body">
                    <div class="text-uppercase text-xs text-muted mb-1" style="font-size: .9rem;">
                        <p>Workload Trend Hrs</p>
                    </div>
                    <div class=" d-flex justify-content-between text-dark fw-bold">
                        {% if machining_workload_comparison > 0 %}
                            <img src="{% static 'images/angles-up.svg' %}" height="30" width="30"/>
                        {% elif machining_workload_comparison < 0 %}
                            <img src="{% static 'images/angles-down.svg' %}" height="30" width="30"/>
                        {% endif %}
                        <h2 class="pe-3 text-end">{{machining_workload_comparison}}</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Section 2: Dashboard Graphs -->

<div class="container mt-5">
    <div class="container shadow bg-white">
        <div class="row">
            <!-- Lead Time Heatmap -->
            <div class="col-sm-12 col-md-6 text-muted text-center mb-3 h-100">
                {{plot4|safe}}
            </div>
            <div class="col-sm-12 col-md-6 text-muted text-center mb-3 h-100">
                {{plot1|safe}}
            </div>
            <div class="col-sm-12 col-md-6 text-muted text-center mt-3 h-100">
                {{plot2|safe}}
            </div>
            <div class="col-sm-12 col-md-6 text-muted text-center mt-3 h-100">
                {{plot3|safe}}
            </div>
        </div>
    </div>
</div>

<!-- Section 3: Todays Planning -->

<div class="container mt-5">
    <div class="d-flex py-3">
        <h3>Today's Planning</h3>
    </div>

    <!-- Machining Task Planning-->
    <div class="container bg-white shadow">
        <h5 class="text-muted text-center mt-1">Machining Tasks</h5>
        <table class="table-responsive table mt-2" role="grid">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Business Unit</th>
                    <th>Urgency</th>
                    <th>Assesment Hrs.</th>
                    <th>Lead Time</th>
                    <th>Technician</th>
                </tr>
            </thead>
            <tbody>
                {% for task in machining_for_today %}
                <tr>
                    <td>{{task.description}}</td>
                    <td>{{task.work_request.get_unit_display}}</td>
                    <td>{{task.get_urgency_display}}</td>
                    <td>{{task.assessment_hours}}</td>
                    <td>{{task.lead_time}}</td>
                    <td>{{task.worker_allocated}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Non Machining Task Planning -->
    <div class="container bg-white shadow mt-5">
        <h5 class="text-muted text-center mt-1">Non Machining Tasks</h5>
        <table class="table-responsive table mt-2" role="grid">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Business Unit</th>
                    <th>Urgency</th>
                    <th>Assesment Hrs.</th>
                    <th>Lead Time</th>
                    <th>Technician</th>
                </tr>
            </thead>
            <tbody>
                {% for task in non_machining_for_today %}
                <tr>
                    <td>{{task.description}}</td>
                    <td>{{task.work_request.get_unit_display}}</td>
                    <td>{{task.get_urgency_display}}</td>
                    <td>{{task.assessment_hours}}</td>
                    <td>{{task.lead_time}}</td>
                    <td>{{task.worker_allocated}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>


<!-- Section Completed Tasks -->

<div class="container mt-5">
    <div class="d-flex py-3">
        <h3>Completed Tasks</h3>
    </div>

    <!-- Machining Table -->
    <div class="container bg-white shadow">
        <h5 class="text-muted text-center mt-1">Machining</h5>
        <table class="table-responsive table mt-2" role="grid">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Business Unit</th>
                    <th>Urgency</th>
                    <th>Lead Time</th>
                    <th>Target Hrs</th>
                    <th>Normal Hrs</th>
                    <th>Overtime Hrs</th>
                    <th>Technician</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for task in completed_machining_tasks %}
                    <td>{{task.description}}</td>
                    <td>{{task.work_request.get_unit_display}}</td>
                    <td>{{task.get_urgency_display}}</td>
                    <td>{{task.lead_time}}</td>
                    <td>{{task.assessment_hours}}</td>
                    <td>{{task.normal_hrs_sum}}</td>
                    <td>{{task.overtime_hrs_sum}}</td>
                    <td>{{task.worker_allocated}}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Non Machining Table -->
    <div class="container bg-white shadow mt-5">
        <h5 class="text-muted text-center mt-1">Non Machining</h5>
        <table class="table-responsive table mt-2" role="gridcell">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Business Unit</th>
                    <th>Urgency</th>
                    <th>Lead Time</th>
                    <th>Target Hrs</th>
                    <th>Normal Hrs</th>
                    <th>Overtime Hrs</th>
                    <th>Technician</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for task in completed_non_machining_tasks %}
                    <td>{{task.description}}</td>
                    <td>{{task.work_request.get_unit_display}}</td>
                    <td>{{task.get_urgency_display}}</td>
                    <td>{{task.lead_time}}</td>
                    <td>{{task.assessment_hours}}</td>
                    <td>{{task.normal_hrs_sum}}</td>
                    <td>{{task.overtime_hrs_sum}}</td>
                    <td>{{task.worker_allocated}}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>






{% endblock content %}
